
<h1 style="text-align: center; font-family: 'Courier New', Courier, monospace;">DOCUMENTOS FRESMAR </h1>

<mat-form-field class="example-form-field">
  <mat-label>Selecciona una Area</mat-label>
  <mat-select (selectionChange)="onChange($event)">
    <mat-option value="TH">Talento Humano</mat-option>
    <mat-option value="CT">Contabilidad</mat-option>
    <mat-option value="IP">Importaciones</mat-option>
    <mat-option value="SG">Servicios Generales </mat-option>
    <mat-option value="SIG">Servicios Integrados de  Gestion </mat-option>
  </mat-select>

</mat-form-field>
<!-- <input type="date" [(ngModel)]="fechaInicio" (change)="filtrarFecha(fechaInicio, fechaFin)" style="margin-right: 20px;">
<input type="date" [(ngModel)]="fechaFin" (change)="filtrarFecha(fechaInicio, fechaFin)"> -->

<br>
<input matInput (keyup)="applyFilter($event)" class="form-control" placeholder="Buscar por palabra clave">

<br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tablaSeleccionada" >

        <!-- Fecha Columna -->
        <ng-container matColumnDef="fecha" >
          <th mat-header-cell *matHeaderCellDef > Fecha </th>
          <td mat-cell *matCellDef="let documento" > {{documento.fecha  | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Nombre Columna -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef > Nombre Documento </th>
          <td mat-cell *matCellDef="let documento"> {{documento.nombre}} </td>
        </ng-container>

        <!-- Area Columna -->
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef > Area </th>
          <td mat-cell *matCellDef="let documento"> {{documento.area}} </td>
        </ng-container>

        <!-- Url Columna -->
       <!--  <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef > Url </th>
          <td mat-cell *matCellDef="let documento"> {{documento.url}} </td>
        </ng-container> -->

        <!-- Descargar Columna -->

        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef > Descargar Documento </th>
          <td mat-cell *matCellDef="let documento">
            <button mat-icon-button class="descargar-btn" (click)="downloadFile(documento.url,documento.nombre)">
              <mat-icon style="margin-inline: 20px;">cloud_download</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="mostrar_columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: mostrar_columnas;"> </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]"
        showFirstLastButtons
        aria-placeholder="Items por pagina">
    </mat-paginator>
</div>


