<h1 style="text-align: center; font-family: 'Courier New', Courier, monospace;"> Upload Files To Nas </h1>

<br>
<div *ngIf="!authenticated">
  <button type="button" class="btn btn-primary" style="margin-left: 100PX;" (click)="authenticate()">Para subir Archivos Autenticate dandome Click </button>
</div>

<div *ngIf="authenticated">
  <div class="row">
    <div class="col-8">
      <label class="btn btn-default p-0">
        <input type="file" (change)="selectedFile($event)" />
      </label>
    </div>

    <div class="col-4">
      <button class="btn btn-success btn-sm" (click)="onUpload()"> Upload </button>
    </div>
  </div>
</div>
<!-- <div class="card mt-3">
  <div class="card-header">List of Files</div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let file of fileInfos | async" class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
    </li>
  </ul>
</div> -->
<br><br>
<h1 style="text-align: center; font-family: 'Courier New', Courier, monospace;"> Upload Info to MongoDB </h1>

<br>
<form #documentForm="ngForm" (ngSubmit)="enviarInfo(documentForm)">
  <div class="form-group">
    <label for="nombre">Nombre :</label>
    <input type="text" id="nombre" name="nombre" placeholder="Escribe el nombre para el documento" class="form-control" [(ngModel)]="documento.nombre" required>
  </div>
  <br>
  <div class="form-group">
    <label for="fecha">Fecha :</label>
    <input type="date" id="fecha" name="fecha" class="form-control" style="width: 150px;" [(ngModel)]="documento.fecha" required>
  </div>  

  <br>
  <div class="form-group">
    <label for="area">Area:</label>
    <select class="form-control" id="IdSeleccionarArea" [(ngModel)]="documento.area" name="area" required>
      <option value="" disabled selected>Seleccione el Área...</option>
      <option value="talento humano">Talento Humano</option>
      <option value="contabilidad">Contabilidad</option>
      <option value="importaciones">Importaciones</option>
      <option value="seguridad">Seguridad</option>
      <option value="servicios generales">Servicios Generales</option>
      <option value="sistemas integrados">Sistemas Integrados de Gestión</option>
    </select>
  </div>
  
  <br>
  <div class="form-group">
    <label for="archivo">Carpeta :</label>
    <select class="form-control" (change)="onFolderSelected($event)">
      <option value="" disabled selected>Seleccione la Carpeta...</option>
      <option value="documentos/talento_humano/">Talento Humano</option>
      <option value="documentos/importaciones/">Importaciones</option>
      <option value="documentos/servicios_generales/">Servicios Generales</option>
      <option value="documentos/sig/"> Sistemas Integrados de Gestion </option>
    </select>
    <!-- <input type="file" (change)="onFileSelected($event)"> -->
    <br>
    <!-- <input type="file" id="archivo" name="archivo" class="form-control-file" (change)="onFileSelected($event)" required> -->
    <div class="mb-3">
      <input class="form-control" type="file" id="archivo" name="archivo" (change)="onFileSelected($event)" required>
    </div>
  </div>
  
<br>
<div class="form-group">
  <label for="url">URL :</label>
  <input type="text" id="url" name="url" placeholder="Url del archivo a enviar a la BD" class="form-control" [(ngModel)]="direccion.url" required >
</div>

<br>
<!-- <button type="submit" class="btn btn-primary"> Cargar Información </button> -->
<button type="submit" class="btn btn-primary" color="primary" [disabled]="enviando">
  <span *ngIf="!enviando"> Enviar </span>
  <span *ngIf="enviando"> Enviando... </span>
</button>

<mat-progress-bar mode="determinate" [value]="porcentaje" style="margin-top: 20px;"></mat-progress-bar>
<div *ngIf="!enviando && porcentaje === 100" class="letraEnvio">
  Envío Exitoso
</div>
</form>
